.third-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  height: 50vh;
}

.third-feature-image-container {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.third-feature-image {
  width: 100%;
  height: auto;
}

.third-feature-text-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
}

.third-feature-text {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.third-feature-download-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #daf39c;
  color: #333;
  width: 100px;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  margin-left: 75px;
}

.third-feature-download-icon {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.icon-text {
  font-size: 18px;
  color: #246832;
}

